<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.algolia.instantsearch.showcase">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/InstantSearchShowcase"
        tools:ignore="GoogleAppIndexingWarning">

        <activity android:name="com.algolia.instantsearch.showcase.directory.DirectoryShowcase">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity
            android:name="com.algolia.instantsearch.showcase.highlighting.HighlightingShowcase"
            android:parentActivityName="com.algolia.instantsearch.showcase.directory.DirectoryShowcase"/>

        <activity
            android:name="com.algolia.instantsearch.showcase.filter.clear.FilterClearShowcase"
            android:parentActivityName="com.algolia.instantsearch.showcase.directory.DirectoryShowcase"/>

        <activity
            android:name="com.algolia.instantsearch.showcase.filter.current.ShowcaseFilterCurrent"
            android:parentActivityName="com.algolia.instantsearch.showcase.directory.DirectoryShowcase"/>

        <activity
            android:name="com.algolia.instantsearch.showcase.filter.toggle.FilterToggleShowcase"
            android:parentActivityName="com.algolia.instantsearch.showcase.directory.DirectoryShowcase"/>

        <activity
            android:name="com.algolia.instantsearch.showcase.filter.range.FilterRangeShowcase"
            android:parentActivityName="com.algolia.instantsearch.showcase.directory.DirectoryShowcase"/>

        <activity
            android:name="com.algolia.instantsearch.showcase.filter.map.FilterMapShowcase"
            android:parentActivityName="com.algolia.instantsearch.showcase.directory.DirectoryShowcase"/>

        <activity
            android:name="com.algolia.instantsearch.showcase.filter.list.FilterListAllShowcase"
            android:parentActivityName="com.algolia.instantsearch.showcase.directory.DirectoryShowcase"/>

        <activity
            android:name="com.algolia.instantsearch.showcase.filter.list.FilterListFacetShowcase"
            android:parentActivityName="com.algolia.instantsearch.showcase.directory.DirectoryShowcase"/>

        <activity
            android:name="com.algolia.instantsearch.showcase.filter.list.FilterListNumericShowcase"
            android:parentActivityName="com.algolia.instantsearch.showcase.directory.DirectoryShowcase"/>

        <activity
            android:name="com.algolia.instantsearch.showcase.filter.list.FilterListTagShowcase"
            android:parentActivityName="com.algolia.instantsearch.showcase.directory.DirectoryShowcase"/>

        <activity
            android:name="com.algolia.instantsearch.showcase.filter.facet.FacetListShowcase"
            android:parentActivityName="com.algolia.instantsearch.showcase.directory.DirectoryShowcase"/>

        <activity
            android:name="com.algolia.instantsearch.showcase.filter.facet.FacetListSearchShowcase"
            android:parentActivityName="com.algolia.instantsearch.showcase.directory.DirectoryShowcase"/>

        <activity
            android:name="com.algolia.instantsearch.showcase.filter.facet.FacetListPersistentShowcase"
            android:parentActivityName="com.algolia.instantsearch.showcase.directory.DirectoryShowcase"/>

        <activity
            android:name="com.algolia.instantsearch.showcase.filter.numeric.comparison.FilterComparisonShowcase"
            android:parentActivityName="com.algolia.instantsearch.showcase.directory.DirectoryShowcase"/>

        <activity
            android:name="com.algolia.instantsearch.showcase.search.SearchOnSubmitShowcase"
            android:parentActivityName="com.algolia.instantsearch.showcase.directory.DirectoryShowcase"/>

        <activity
            android:name="com.algolia.instantsearch.showcase.search.SearchAsYouTypeShowcase"
            android:parentActivityName="com.algolia.instantsearch.showcase.directory.DirectoryShowcase"/>

        <activity
            android:name="com.algolia.instantsearch.showcase.search.SearchAutoCompleteTextView"
            android:exported="true"
            android:parentActivityName="com.algolia.instantsearch.showcase.directory.DirectoryShowcase"/>

        <activity
            android:name="com.algolia.instantsearch.showcase.list.paging.PagingSingleIndexShowcase"
            android:parentActivityName="com.algolia.instantsearch.showcase.directory.DirectoryShowcase"/>

        <activity
            android:name="com.algolia.instantsearch.showcase.sortby.SortByShowcase"
            android:parentActivityName="com.algolia.instantsearch.showcase.directory.DirectoryShowcase"/>

        <activity
            android:name="com.algolia.instantsearch.showcase.stats.StatsShowcase"
            android:parentActivityName="com.algolia.instantsearch.showcase.directory.DirectoryShowcase"/>

        <activity
            android:name="com.algolia.instantsearch.showcase.loading.LoadingShowcase"
            android:parentActivityName="com.algolia.instantsearch.showcase.directory.DirectoryShowcase"/>

        <activity
            android:name="com.algolia.instantsearch.showcase.list.paging.PagingMultipleIndexShowcase"
            android:parentActivityName="com.algolia.instantsearch.showcase.directory.DirectoryShowcase"/>

        <activity
            android:name="com.algolia.instantsearch.showcase.list.merged.MergedListShowcase"
            android:parentActivityName="com.algolia.instantsearch.showcase.directory.DirectoryShowcase"/>

        <activity
            android:name="com.algolia.instantsearch.showcase.hierarchical.HierarchicalShowcase"
            android:parentActivityName="com.algolia.instantsearch.showcase.directory.DirectoryShowcase"/>

    </application>

</manifest>